h1 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 300;
  font-family: $main-font;
  color: $white;
}

h2 {
  margin: 10px 0;
  font-size: 32px;
  font-weight: 600;
  line-height: 47.42px;
  font-family: $main-font;
  color: $black;

  @include size-md {
    font-size: 40px;
    line-height: 59.28px;
  }

  @include size-lg {
    font-size: 48px;
    line-height: 71.14px;
  }
}

h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
  font-family: $main-font;
  color: $white;
}

p {
  font-size: 16px;
  line-height: 23px;
  font-family: $main-font;
  font-weight: 200;

  @include size-md {
    font-size: 24px;
    line-height: 35.57px;
  }

  @include size-lg {
    font-size: 28px;
    line-height: 41.5px;
  }
}

.btn,
.btn-more{
  display: flex;
  justify-content: center;
  height: 40px;
  cursor: pointer;

  span {
    display: flex;
    align-items: center;
    padding: 5px 25px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    font-family: $main-font;
    color: $white;
    border-radius: 25px;
  }

  &__darkgrey {
    background-color: $darkgrey;
  }

  &__orange {
    background-color: $orange;
  }
}

ul {
  li {
    font-size: 36px;
    line-height: 53.35px;
    font-weight: 600;
    font-family: $main-font;
  }
}