@import "colors";
@import "fonts";
@import "mixin";
@import "base";
@import "sections/title";
@import "sections/bestmovie";
@import "sections/categories";
@import "sections/modal";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  width: 85%;
  margin: 25px auto;

  @include size-md {
    margin: 50px auto;
  }

  .section {
    position: relative;
    z-index: 1;
  }
}